         @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap'); 
         
        body { 
          font-family: 'Poppins', Arial, Helvetica, sans-serif; 
          margin: 0px; 
          color: #a4a09d; 
          background-color: #2d0a61;
        } 

        h1 {background-color: #7830ec;

        }

         h2 h3 website.navbar { 
        background-color: #3d2b1f; 
      } 
  
      .website-navbar { 
            font-weight: 700; 
            font-size: 1.25rem; 
                } 
            
     .website.navbar { 
                font-weight: 600; 
                } 
            
     .website-nav .nav-link:hover { 
                color: #0e0d0c !important; 
                } 
